{
  "env": {
    "development": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "browsers": ["last 2 versions"]
          }
        }],
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-syntax-dynamic-import",
        "idx"
      ]
    },
    "production": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "browsers": ["last 2 versions"]
          }
        }],
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-syntax-dynamic-import",
        "idx",
        ["transform-react-remove-prop-types", {
          "mode": "remove",
          "removeImport": true
        }]
      ]
    }
  }
}
