{
  "env": {
    "development": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 2 versions"]
          }
        }],
        "react",
        "stage-0"
      ]
    },
    "production": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 2 versions"]
          }
        }],
        "react",
        "stage-0"
      ],
      "plugins": [
        ["transform-react-remove-prop-types", {
          "mode": "remove",
          "removeImport": true
        }]
      ]
    }
  }
}
