[submodule "api/third-party/folly"]
	path = api/third-party/folly
	url = https://github.com/facebook/folly.git
[submodule "api/third-party/googletest"]
	path = api/third-party/googletest
	url = https://github.com/google/googletest.git
[submodule "api/third-party/jansson"]
	path = api/third-party/jansson
	url = https://github.com/akheron/jansson.git
[submodule "api/third-party/jwt-cpp"]
	path = api/third-party/jwt-cpp
	url = https://github.com/pokowaka/jwt-cpp.git
[submodule "api/third-party/rapidjson"]
	path = api/third-party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "api/third-party/sqlite_modern_cpp"]
	path = api/third-party/sqlite_modern_cpp
	url = https://github.com/aminroosta/sqlite_modern_cpp.git
[submodule "api/third-party/uWebSockets"]
	path = api/third-party/uWebSockets
	url = https://github.com/uNetworking/uWebSockets.git
[submodule "api/third-party/wangle"]
	path = api/third-party/wangle
	url = https://github.com/facebook/wangle.git
[submodule "api/third-party/openssl"]
	path = api/third-party/openssl
	url = https://github.com/openssl/openssl.git
[submodule "api/third-party/fizz"]
	path = api/third-party/fizz
	url = https://github.com/facebookincubator/fizz.git
