$background-gray: #121212;
$navbar-active-background-color: #080808;
$text-gray: #C7C7C7;
$rustle-orange: #D17134;

// Bootstrap overrides
$navbar-dark-active-color: #9D9D9D;
$theme-colors: (
  "primary": $rustle-orange
);
