@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@include media-breakpoint-down(md) {
  footer {
    display: none;
  }
}


footer {
  width: 100%;
  background: linear-gradient(#1A1A1A, #121212);

  p {
    text-align: right;
  }
}

.footer-list{
  display: flex;
  flex-direction: row;
  left: -50px;
  position: relative;
}

.footer-list > li{
  list-style: none;
  margin: 0px 50px 0px 50px;
}

@media screen and (max-width: 1350px) {
  .footer-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}