@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@include media-breakpoint-down(md) {
  footer {
    display: none;
  }
}


footer {
  width: 100%;
  background: linear-gradient(#1A1A1A, #121212);

  p {
    text-align: right;
  }
}

.footer-list{
  display: flex;
  flex-direction: row;
  position: relative;
  padding-left: 0px;
}

.footer-list > li{
  list-style: none;
  margin: 0px 25px 0px 25px;
}

