@import './colors';

.header {
  border-radius: 0px;
}

.header-donate {
  background-color: #b91010;
  border-radius: 8px;
  color: #fafafa;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
  padding: 1px 4px;
}

.navbar-nav > .active > a {
  background-color: $navbar-active-background-color;
}
