@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import './colors';

.header {
  border-radius: 0px;
}

.open-chat-btn{
  position: fixed;
  right: 25px;
  top: 65px;
  z-index: 1;
}

.close-header-btn{
  position: fixed;
  top: 25px;
  font-size: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
  opacity: 1;
  z-index: 1;
}

.close-caret{
  position: fixed;
  top:25px;
  transition: top 1.5s;
  &:hover{
    top:55px
  }
}

.navbar{
  z-index: 2;
}
.navbar:hover ~ .close-header-btn .close-caret{
  top:55px
}

.header-donate {
  background-color: #b91010;
  border-radius: 8px;
  color: #fafafa;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
  padding: 1px 4px;
}

.navbar-nav > .active > a {
  background-color: $navbar-active-background-color;
}

.pointer {
  cursor: pointer;
}

@include media-breakpoint-down(md) {
  .navbar{
    min-height: unset;
  }
  @media (orientation:landscape){
    .nav-item {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
  @media (orientation:portrait){
    .navbar-nav .nav-link {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
  #open-chat-btn{
    display: none;
  }
}
