
@import './colors';

html, body, #main, .fill-percentage, .routes {
  margin: 0;
  width: 100%;
  height: 100%;
  color: $text-gray;
  background-color: $background-gray;
}

iframe {
  display: block;
}

@keyframes jiggle_position {
  0% { left: 0px }
  100% { left: 2px }
}

@keyframes jiggle_background {
  0% { background-position: 50% 50%; }
  100% { background-position: 51% 50%; }
}

.jiggle-position {
  animation: jiggle_position 100ms infinite;
  position: relative;
}

.jiggle-background {
  background-image: url('/image/jigglymonkey.png');
  background-repeat: no-repeat;
  animation: jiggle_background 100ms infinite;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

@for $i from 1 through 6 {
  .grow-#{$i} {
    flex-grow: $i;
  }
}

.navbar {
  border: 0;
  margin-bottom: 0;
}

a {
  color: $rustle-orange;
  &:hover, &:focus {
    color: darken($rustle-orange, 20%);
  }
}

.form-control, .form-control, .btn-group > .navbar-btn, .input-group-btn > .btn {
  background-color: #222;
  color: #fff;
  border-color: $rustle-orange;
  &::placeholder {
    color: #fff;
  }
}

.img-top-margin {
  margin-top: 50px;
}
