// Configure path to glyphicons font and the class prefix before importing it.
$glyphicons-halflings-font-path: './fonts';
$glyphicons-halflings-class-prefix: glyphicon;
@import '~glyphicons-halflings/scss/glyphicons-halflings';

// Import colors before bootstrap so that bootstrap color variables may be
// overwritten first.
@import './colors';

$font-size-base: 0.876rem;

@import '~bootstrap/scss/bootstrap';

html, body, #main, .fill-percentage, .routes {
  margin: 0;
  width: 100%;
  height: 100%;
  color: $text-gray;
  background-color: $background-gray;
}

iframe {
  display: block;
}

@keyframes jiggle_background {
  0% { background-position: 50% 50%; }
  100% { background-position: 51% 50%; }
}

.jiggle-background {
  background-image: url('/image/jigglymonkey.png');
  background-repeat: no-repeat;
  animation: jiggle_background 100ms infinite;
}

.navbar {
  background-color: #222;
  border: 0;
  margin-bottom: 0;
  min-height: 50px;
  padding-bottom: 0;
  padding-top: 0;
}

a {
  color: $rustle-orange;
  &:hover, &:focus {
    color: darken($rustle-orange, 20%);
  }
}

.form-control, .form-control, .btn-group > .navbar-btn, .input-group-btn > .btn {
  background-color: #222;
  color: #fff;
  border-color: $rustle-orange;
  &::placeholder {
    color: #fff;
  }
}

.form-group-highlight {
  font-size: 2em;
}

.form-group-highlight input {
  height: 2em;
  font-size: 1em;
}

.form-control.form-check-input,
.form-control.form-radio-input {
  width: 34px;
}

.profile-first-login-message {
  font-size: 1.5em;
  display: inline-block;
  margin-top: 1em;
  font-weight: inherit;
}

.img-top-margin {
  margin-top: 50px;
}
