.stream-thumbnail {
  padding: 4px;
  margin-bottom: 20px;
  border-radius: 4px;

  img {
    max-width: 100%;
    height: auto;
  }

  .stream-caption {
    padding: 9px;
    color: #333;

    a {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
