@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.open-header-btn,.close-header-btn{
  position: fixed;
  top: 0px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  opacity: 1;
  z-index: 3;
  height: 25px;
  user-select: none;
}



.open-header-caret,.close-header-caret{
  position: fixed;
  transition: top 0.75s, rotate 0.75s, opacity 0.75s;
  cursor:pointer;
  display: flex;
  justify-content: center;
  height: 30px;
  font-size: 32px;
  width: 25px;
  line-height: 20px;
  color: #D17134;
}

.open-header-btn:hover .open-header-caret{
  top: -10px;
  opacity:1;
}

.open-header-caret-mobile{
  display: none;
  position:fixed;
  rotate: 90deg;
  color: #D17134;
  font-size: 32px;
  line-height: 20px;
  opacity: 0.4;
}

.open-header-caret{
  top: -15px;
  rotate: 90deg;
  opacity: 0;
  &:hover{
    top:-10px;
    opacity:1;
  }
}

.close-header-caret{
  top:45px;
  rotate: -90deg;
}

@include media-breakpoint-down(md) {
  .open-header-caret-mobile{
    display: block;
  }

  .close-header-caret{
    top:35px;
  }
  // Orientantion + aspect ratio mirrors the same ruleset in MainLayout.scss
  @media (orientation:portrait), (orientation:landscape) and (max-aspect-ratio: 2 / 1){
    .chat-embed {
      height: 100%;
      width: 100% !important;
    }

    .stream-embed {
      // 16:9 ratio
      height: 56.25vw;
      width: 100% !important;
    }
  }
}
