.stream-thumbnail {
  border: 1px solid #5D5D5D;
  background-color: #222;
  margin-top: 1em;
  overflow: hidden;
  position: relative;

  &:before {
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    display: block;
    filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.5));
    padding-top: 10%;
    position: absolute;
    right: 2%;
    top: 4%;
    width: 10%;
    z-index: 1;
  }

  &.stream-thumbnail-angelthump:before {
    background-image: url(/image/angelthump.png);
    width: 20%;
  }

  &.stream-thumbnail-twitch:before,
  &.stream-thumbnail-twitch-vod:before {
    background-image: url(/image/twitch.png);
  }

  &.stream-thumbnail-youtube:before {
    background-image: url(/image/youtube.png);
  }

  .thumbnail-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
  }

  .thumbnail-image-nsfw {
    filter: blur(10px);
  }

  .thumbnail-default-image {
    background-color: #111;
    background-image: url(/image/jigglymonkey.png);
    background-size: 50%;
  }

  .thumbnail-default-image:hover {
    animation: jiggle_background 100ms infinite;
  }

  .stream-caption {
    background-color: #222;
    color: #333;
    padding: 9px;
    position: relative;

    a {
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .thumbnail-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 50px);
  }
}
