<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Strims</title>
    <link rel="icon" href="/image/favicon.png">
  </head>
  <body>
    <div id="main" class="jiggle-background"></div>
  </body>
</html>
