<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/static/image/favicon.jpg">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="main"></div>
  </body>
</html>
