name: Frontend build
on: [pull_request, push]
jobs:
  build:
    name: Node.js v${{ matrix.node-version }}, ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [10, 12]
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
    - uses: actions/checkout@v1
    - name: Setup Node.js v${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Update npm
      run: |
        npm install -g npm
        npm --version
    - name: Install dependencies
      run: npm ci
    - name: Build
      run: npm run build:production
    - name: Lint
      run: npm run lint
    - name: Flow
      run: npm run flow
